{{#if posts.length}}
<h2>Check out the Posts!</h2>
<div class= posts>
    {{#each posts}}
    <div class="postTitle" href="/posts/{{id}}">
        <h1>
            <a href="/post/{{id}}"> {{title}} </a>
        </h1>
        <h4 class="postInfo">
            Created by {{user.userName}} on {{date}}
        </h4>
        <div class="postContent">
            <p>
              {{content}}
            </p>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}